Host phantom
  Hostname phantom.razgriz.wtf
  Port 2222
  User root
  IdentityFile ~/.ssh/phantom.pub
  IdentitiesOnly yes

Host raptor
  Hostname raptor.razgriz.wtf
  IdentityFile ~/.ssh/raptor.pub
  IdentitiesOnly yes

Host skyeye
  Hostname skyeye.razgriz.wtf
  User root
  IdentityFile ~/.ssh/opentofu.pub
  IdentitiesOnly yes

Host basilisk
  Hostname basilisk.razgriz.wtf
  User root
  IdentityFile ~/.ssh/opentofu.pub
  IdentitiesOnly yes

Host halo
  Hostname halo.razgriz.wtf
  User root
  IdentityFile ~/.ssh/opentofu.pub
  IdentitiesOnly yes

Host dvorak
  Hostname dvorak.razgriz.wtf
  User root
  IdentityFile ~/.ssh/opentofu.pub
  IdentitiesOnly yes

